*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.formNative{
  width: 100VW;
  height: 100VH;

display: flex;
flex-direction: column;
padding: 5px;
background: #888;
}
.formNative div{
  width: 50%;
  height: 50%;
margin-inline: auto;
margin-top: 50px;
  gap: 5PX;
  display: flex;flex-direction: column;
}
.formNative div label{
color: #ffffff;
font-size: 22px;
font-weight: bold;
}
.formNative div input{
padding: 10px;
border-radius: 5px;

}